*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    margin-top: 20px;
    
}
nav ul li{
    font-size: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 50px;
}
p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: 20px;
}
h2{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
}
h4{
    text-align: center;
    font-size: 25px;
}
@media only screen and (max-width: 767px) {
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin-bottom: 20px;
        /* align-items: center; */
        text-align: center;
    }
}
